
xadc_pjt/xadc_pjt.cache/*
xadc_pjt/xadc_pjt.runs/*
xadc_pjt/xadc_pjt.sdk/.metadata/*
xadc_pjt/xadc_pjt.sdk/webtalk/*
xadc_pjt/xadc_pjt.sdk/xadc_testcode/Debug/*
xadc_pjt/xadc_pjt.sdk/xadc_testcode_bsp/*
xadc_pjt/xadc_pjt.srcs/sources_1/bd/system/ip/*
xadc_pjt/xadc_pjt.srcs/sources_1/bd/system/ipshared/*
xadc_pjt/xadc_pjt.srcs/sources_1/bd/system/sim/*
